<h1>Load data from api</h1>
<div class="main">
  <!-- <input type="text" [(ngModel)]="username"  (change)="onChangeUserName()" placeholder="Search username here..."> -->
  <input type="text" [formControl]="nameControl" placeholder="Search username here...">

  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" class="mat-prog"></mat-progress-spinner>

  <div *ngIf="userInfo.length > 0" class="user-list">
    <ul>
      <li *ngFor="let user of userInfo">
        <div class="row">
          <img src="{{user.img}}" alt="" width="60px" height="60px">
          <p class="m10">{{user.login}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
